* {
    margin: 0;
    padding: 0; 
    text-align: center;
} 
.divmain{
    width: 90%;
    margin: auto;
    padding: 100px;
    box-shadow: none;
}
div{
    display: inline-block;
    margin: 10px;
    height: 370px;
    width: 250px;
    padding: 10px;
    box-shadow: 4px 3px 6px 2px #aaaaaa, -4px -3px 6px 2px #aaaaaa;
    background-color: white;
}
.divmain div:hover{
    transform: scale(1.2);
    transition: 0.4s linear;
}
.divmain div{
    transform: scale(1);
    transition: 0.4s linear;
}
a{
    text-align: center;
    display: block; 
    width: 50%;
    margin: 15px auto; 
    height: 10%;
    padding: 15px 0 0 0;
    text-decoration:none; 
    color: white;
}
hr{
    height: 3px;
}
h2{
    padding:10px 15px;
}
p{
    padding:10px 15px;
    font-weight: bold;
}
a, div{
    border-radius: 12px;
}
span{
    color: #aeaeae;
}
.cost{
    font-size: 40px;
    padding: 10px 0 0;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}